@implements ILayoutComponent

    <NavMenu />
    <main class='section'>
        <section class="container">
            @Body
        </section>
    </main>

    @functions {
    public RenderFragment Body { get; set; }
    }
