<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <NavLink class="navbar-item" href="/" Match=NavLinkMatch.All>
                    Home
                </NavLink>
                <NavLink class="navbar-item" href="/counter">
                    Counter
                </NavLink>

                <NavLink class="navbar-item" href="/fetchdata">
                    Fetch data
                </NavLink>
            </div>
        </div>
    </div>

</nav>
